@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutNew";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row mt-4">
    <!-- Donut Chart Gender -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4 h-100">
                <div id="myPieChart" style="margin:20px">
                </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4 h-100">
                <div id="myPieChart1" style="margin:20px">
                </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <!-- Area Chart -->
        <div class="card shadow mb-4 h-100">
                <div id="myAreaChart" style="margin:20px"></div>
        </div>
    </div>
</div>

    @section scripts{
        <script src="~/apex/dist/apexcharts.min.js"></script>
        <script src="~/js/charts.js" asp-append-version="true"></script>
    }
